* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: white;
    scroll-behavior: smooth;
}

nav {
    background-color: rgb(9, 0, 30);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 20px;
}

nav #navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav #navigation a {
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-size: larger;
}

nav #dropdownmenu {
    display: none;
}

nav #dropdown {
    position: absolute;
    left: 40%;
    margin-top: 50px;
    width: 60%;
    height: 60%;
    display: none;
    background-color: #02012e;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
}

nav #dropdown a {
    padding-top: 40px;
    text-decoration: none;
    color: white;
}

nav #lang a {
    color: white;
    text-decoration: none;
}

@media (max-width:600px) {
    nav #navigation {
        display: none;
    }
    nav #lang {
        display: none;
    }
    nav #dropdownmenu {
        display: flex;
    }
    nav #dropdown {
        display: flex;
    }
}

.about{
    padding-top: 100px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.about p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: left;
}

.background{
    padding-top: 50px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.background p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: left;
}

.experience{
    padding-top: 50px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.experience h3{
    padding: 20px;
}

.experience p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: left;
}

.softskills{
    padding-top: 40px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.softskills p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.toolsandtech{
    padding-top: 40px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.toolsandtech p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.researchpaper{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.researchpaper p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: left;
}

.researchpaper a{
    color: rgb(2, 0 ,40);
}

.methodologies{
    padding-top: 40px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.methodologies p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.education{
    padding-top: 40px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.education p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: center;
}

.language{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.language p{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    justify-content: center;
}

.volunteer{
    padding-top: 40px;
    text-align: center;
    color: rgb(2, 0 ,40);
    font-size: larger;
    border-bottom: 1px solid rgb(2, 0 ,40);
}

.volunteer p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}

.volunteer a{
    color: rgb(2, 0 ,40);
}

@media (max-width: 600px) {
    .about p{
        padding-left: 1%;
        padding-right: 1%;
    }
    .background p{
        padding-left: 1%;
        padding-right: 1%;
    }
    .experience p{
        padding-left: 1%;
        padding-right: 1%;
    }
    .softskills p{
        padding-left: 1%;
        padding-right: 1%;
    }
    .toolsandtech p{
        padding-left: 1%;
        padding-right: 1%;
    }
    .researchpaper p{
        padding-left: 1%;
        padding-right: 1%;
    }
    .methodologies p{
        padding-left: 1%;
        padding-right: 1%;
    }
    .education p{
        padding-left: 1%;
        padding-right: 1%;
    }
    .language p{
        padding-left: 1%;
        padding-right: 1%;
    }
    .volunteer p{
        padding-left: 1%;
        padding-right: 1%;
    }
}

.footer{
    background-color: #02012e;
    color: white;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
}
