* {
    background: fixed;
    background-image: radial-gradient(rgb(5, 0, 39),rgb(18, 3, 46));
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    position: fixed;
    width: 100%;
    margin-top: 0;
    list-style-type: none;
    float: right;
    padding: 20px;
    border-bottom: 2px solid black;
}

nav ul li{
    display: inline-block;
    padding-left: 40px;
    padding-right: 7px;
}

nav ul li a{
    font-size: large;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: green;
}

.about{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: larger;
}

.about p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.researchpaper{
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: larger;
}

.researchpaper p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.researchpaper a{
    color: green;
}

.education{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.education p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.softskills{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.softskills p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.toolsandtech{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.toolsandtech p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.language{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.language p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.footer{
    color: white;
    padding-bottom: 0;
    padding-top: 10%;
    margin-bottom: 0;
    text-align: center;
}
