* {
    background-color: #09084e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    position: fixed;
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 0;
    list-style-type: none;
    padding: 20px;
    background-color: #03031e;
}

nav ul li{
    padding-left: 40px;
    padding-right: 7px;
    background-color: #03031e;
}

nav ul li a{
    font-size: large;
    text-decoration: none;
    color: white;
    background-color: #03031e;
}

.about{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: larger;
}

.about p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: left;
}


.background{
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: larger;
}

.background p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: left;
}

.researchpaper{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    font-size: larger;
}

.researchpaper p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: left;
}

.researchpaper a{
    color: green;
}

.methodologies{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.methodologies p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.education{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.education p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.softskills{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.softskills p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.toolsandtech{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.toolsandtech p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.language{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.language p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
}

.volunteer{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: larger;
}

.volunteer p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
}

.volunteer a{
    color: green;
}

.volunteer a:hover{
    color: yellow;
}

.footer{
    color: white;
    padding-bottom: 0;
    padding-top: 10%;
    margin-bottom: 0;
    text-align: center;
}
