* {
    background: fixed;
    background-image: radial-gradient(rgb(5, 0, 39),rgb(18, 3, 46));
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


nav ul{
    position: fixed;
    width: 100%;
    margin-top: 0;
    list-style-type: none;
    float: right;
    padding: 20px;
    border-bottom: 2px solid black;
}

nav ul li{
    display: inline-block;
    padding-left: 40px;
    padding-right: 7px;
}

nav ul li a{
    font-size: large;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: green;
}

.welcomepage{
    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: x-large;
}

.welcomepage a{
    color: blue;
    text-decoration: none;
    font-size: large;
}

.welcomepage a:hover{
    color: green;
}

.socialmedia{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 100px;
}

.icon{
    padding-left: 20px;
}

.projects {
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.projects img{
    padding-top: 20px;
    max-width: fit-content;
    width: 80%;
}

.projects p{
    padding: 10px;
}

.projects a{
    color: green;
}

.footer{
    color: white;
    padding-bottom: 0;
    padding-top: 35%;
    margin-bottom: 0;
    text-align: center;
}




