* {
    background-color: rgb(2, 0, 46);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    position: fixed;
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 0;
    list-style-type: none;
    padding: 20px;
    background-color: #03031e;
}

nav ul li{
    padding-left: 40px;
    padding-right: 7px;
    background-color: #03031e;
}

nav ul li a{
    font-size: large;
    text-decoration: none;
    color: white;
    background-color: #03031e;
}

/* Websites Project */

.projects {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: larger;
}

.projects img{
    padding-top: 20px;
    max-width: fit-content;
    width: 90%;
}

.projects p{
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: auto;
}

@media (max-width:600px) {
    .projects img{
        max-width: fit-content;
        width: 90%;
    }
    .projects p{
        width: 100%;
        margin: auto;
    }
}

.projects a{
    color: green;
}

#websites{
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@media (max-width:800px) {
    #websites{
        grid-template-columns: 1fr;
    }
}

#websites #project {
    border: 1px solid white;
    margin-bottom: 10px;
}

#websites #project:hover {
    box-shadow: 10px 10px 10px 10px rgb(18, 18, 109);
}

@media (max-width:600px) {
    #design {
        display: grid;
        grid-template-columns: 1fr;
    }
}

#project button{
    color: black;
    background-color: white;
    padding: 10px;
    font-size: large;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 20px;
    border: 0;
}

#project button:hover {
    background-color: yellow;
}

/* UI Design Projects */

#design {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#design img:hover {
    box-shadow: 10px 10px 10px 10px rgb(18, 18, 109);
}


.footer{
    color: white;
    padding-bottom: 0;
    padding-top: 25%;
    margin-bottom: 0;
    text-align: center;
}
