* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #010025;
    scroll-behavior: smooth;
}

nav {
    background-color: rgb(9, 0, 30);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 20px;
}

nav #navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav #navigation a {
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-size: larger;
}

nav #dropdownmenu {
    display: none;
}

nav #dropdown {
    position: absolute;
    left: 40%;
    margin-top: 50px;
    width: 60%;
    height: 60%;
    display: none;
    background-color: #02012e;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
}

nav #dropdown a {
    padding-top: 40px;
    text-decoration: none;
    color: white;
}

nav #lang a {
    color: white;
    text-decoration: none;
}

@media (max-width:600px) {
    nav #navigation {
        display: none;
    }
    nav #lang {
        display: none;
    }
    nav #dropdownmenu {
        display: grid;
    }
    nav #dropdown {
        display: flex;
    }
}

/* Websites Project */

.projects {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: larger;
}

.projects img{
    padding-top: 20px;
    max-width: fit-content;
    width: 90%;
}

.projects p{
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: auto;
}

@media (max-width:600px) {
    .projects img{
        max-width: fit-content;
        width: 90%;
    }
    .projects p{
        width: 100%;
        margin: auto;
    }
}

.projects a{
    color: green;
}

#websites{
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@media (max-width:800px) {
    #websites{
        grid-template-columns: 1fr;
    }
}

#websites #project {
    border: 1px solid white;
    margin-bottom: 10px;
}

#websites #project:hover {
    box-shadow: 10px 10px 10px 10px rgb(18, 18, 109);
}

#project button{
    background-color: white;
    padding: 10px;
    font-size: large;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 20px;
    border: 0;
}

#project a{
    text-decoration: none;
    color: #03031e;
    background-color: white;
    padding: 0;
}

/* UI Design Projects */

#design {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#design img:hover {
    transform: scale(1.2,1.2);
    box-shadow: 10px 10px 10px 10px rgb(18, 18, 109);
}

@media (max-width:600px) {
    #design {
        display: grid;
        grid-template-columns: 1fr;
    }
}


.footer{
    color: white;
    padding-bottom: 0;
    padding-top: 25%;
    margin-bottom: 0;
    text-align: center;
}
