* {
    background: fixed;
    background-color: #02012e;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    position: fixed;
    width: 100%;
    margin-top: 0;
    list-style-type: none;
    float: right;
    padding: 20px;
    border-bottom: 2px solid yellow;
    background-color: #03031e;
    z-index: 2;
}

nav ul li{
    display: inline-block;
    padding-left: 40px;
    padding-right: 7px;
    background-color: #03031e;
}

nav ul li a{
    font-size: large;
    text-decoration: none;
    color: white;
    background-color: #03031e;
}

nav ul li a:hover{
    color: green;
}

.projects {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: larger;
}

.projects img{
    padding-top: 20px;
    max-width: fit-content;
    width: 60%;
}

.projects p{
    padding: 10px;
    text-align: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

@media (max-width:600px) {
    .projects img{
        max-width: fit-content;
        width: 90%;
    }
    .projects p{
        width: 90%;
        margin: auto;
    }
}

.projects a{
    color: green;
}

#websites{
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}


.footer{
    color: white;
    padding-bottom: 0;
    padding-top: 25%;
    margin-bottom: 0;
    text-align: center;
}
